<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>구구단</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="root">
    <div>{{first}}곱하기 {{second}}는?</div>
    <form v-on:submit="onSubmitForm">
        <input type="number" ref='answer' v-model="value"><!-- v-model을 통해서 바꾸어 준다. -->
        <button>입력</button>
        <div></div>
    </form>
    <div type="result"></div>
</div>
</body>
<script>
    const app = new Vue({
        el: '#root',
        data:{
            first: Math.ceil(Math.random()* 9),
            second: Math.ceil(Math.random()* 9),
            value: '',
            result: '',
        },
        
    methods: {
        onsubmitForm(e) {
            e.preventDefault();
            if(this.first * this.second === parseInt(this.value)){
                this.result = '정답';
                this.second = Meth.ceil(Math.random() * 9);
                this.value = '';
                this.$refs.answer.focus();
            } else{
                this.result = '땡';
                this.value = ''; 
                this.$refs.answer.focus();
            }
            
        }  
        },
    });

</script>
</html>