<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
</head>
<body>
    <div id="root">
      <word-relay></word-relay>
      <word-relay></word-relay>
      <word-relay></word-relay>
    </div>
    <script>
        Vue.component('word-relay', {// 전역 컴포넌트
            template:
            <div>
                <div>{{word}}</div>
                    <form v-on:submit="onSubmitForm">
                        <input type="text" ref="answer" v-model="value"/>
                        <button type="submit">입력</button>
                    </form>
                <div>{{result}}</div>
            </div>
            ,
            data(){
                return {
                    word: '제로초',
                    result: '',
                    value: '',
                };
            },
            methods: {
                onSubmitForm(e) {
                    e.preventDefault();
                    if(this.word[this.word.length-1] === this.value[0]) {
                        this.result = '딩동댕';
                        this.word = this.value;
                        this.value = '';
                        this.$refs.answer.forcus(); 
                    } else {
                        this.result = '땡';
                        this.value = '';
                        this.$refs.answer.forcus();
                    }
                },

            }


        })
    </script>
    <script>
        const app =  new Vue({
            el: '#root',
        });
    </script>
</body>
</html>