<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>끝말잇기</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <div>{{word}}</div>
        <form v-on:submit="onSubmitForm">
            <input type="text" ref="answer" v-model="value">
            <button type="submit">입력!</button>
        </form>
        <div>{{result}}</div>
    </div>
    <script>
        const app = new Vue({
            el: '#root',
            data: {
                word: '제로초',
                result: '',
                value: '',
            },
            methods: {
                onSubmitForm(e) {
                    e.preventDefault();
                    if(this.word[this.word.length - 1] === this.value[0]){//끝글자와 첫글자가 일치하는지 
                        this.result = '딩동댕';
                        this.word = this.value;
                        this.value = '';
                        this.$refs.answer.focus();
                    } else{
                        this.result ='땡';
                        this.value ='';
                    }
                }
            }
        });
    </script>
</body>
</html>