<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale-1.0, maximum-scale=1.0, minmum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>좋아요</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <div v-if="liked">좋아요 눌렀음</div> <!--liked가false 였고, ture로 바뀌었다. -->
            <div v-else-if="liked">좋아요 눌렀음</div>
            <div v-else-if="liked">좋아요 눌렀음</div>
            <div v-else-if="liked">좋아요 눌렀음</div>
            <div v-else-if="liked">좋아요 눌렀음</div>
            <button v-else v-on:click="onClickButton">Like</button>
        </div>
    </body>
    <script>
        const app = new Vue({
            el: '#root',
            data: {
                liked: false,
            },
            methods: {
                onClickButton(){
                    this.liked = true;
                },//우리는 데이터만 관리 한다.
            },
        });
    </script>
</html>